<template>
  <v-container pa-5>
    <v-toolbar flat>
      <v-toolbar-title>{{ title }}</v-toolbar-title>
    </v-toolbar>

    <alert-component />
    <validation-observer ref="form" v-slot="{ invalid, handleSubmit }">
      <form @submit.prevent="handleSubmit(onSubmit)">
        <!-- HOUR -->
        <v-menu
          ref="menu"
          v-model="timeMenu"
          :close-on-content-click="false"
          :nudge-right="40"
          :return-value.sync="hour"
          transition="scale-transition"
          offset-y
          max-width="290px"
          min-width="290px"
        >
          <template v-slot:activator="{ on, attrs }">
            <validation-provider
              v-slot="{ errors }"
              vid="hour"
              name="hour"
              rules="required"
            >
              <v-text-field
                v-model="hour"
                label="Hour"
                prepend-icon="mdi-clock-time-four-outline"
                readonly
                v-bind="attrs"
                :error-messages="errors"
                v-on="on"
              ></v-text-field>
            </validation-provider>
          </template>
          <v-time-picker
            v-if="timeMenu"
            v-model="hour"
            full-width
            @click:minute="$refs.menu.save(hour)"
          ></v-time-picker>
        </v-menu>
        <!-- HOUR -->

        <!-- IS ACTIVE -->
        <v-container class="px-0" fluid v-if="editMode">
          <v-switch v-model="is_active" :label="`Is active?`"></v-switch>
        </v-container>
        <!--IS ACTIVE -->

        <v-btn class="mr-4" type="submit">Send</v-btn>
      </form>
    </validation-observer>
  </v-container>
</template>

<script>
import { mapState } from "vuex";
import {setFormErrors} from "../../utils/form";
import AlertComponent from "../../components/AlertComponent";
export default {
  components: {
    AlertComponent,
  },
  computed: {
    ...mapState({
      errors: (state) => state.app.validationErrors,
    }),
  },
  data: () => ({
    title: "Register a schedule",
    timeMenu: false,
    editMode: false,
    hour: "",
    is_active: false,
  }),
  beforeMount() {
    this.loadSchedule();
  },
  methods: {
    async loadSchedule() {
      const editId = this.$router.currentRoute.params.id;
      if (editId) {
        this.editMode = true;
        this.title = "Edit the schedule";

        const schedule = await this.$store.dispatch(
          "schedules/getById",
          editId
        );
        if (schedule) {
          this.hour = schedule.hour;
          this.is_active = schedule.is_active;
        }
      }
    },
    async onSubmit() {
      let fields = {};

      if (this.editMode) {
        fields["is_active"] = this.is_active ? 1 : 0;
      }

      const scheduledSaved = await this.$store.dispatch("schedules/save", {
        scheduleId: this.$router.currentRoute.params.id,
        data: {
          hour: this.hour,
          ...fields,
        },
      });

      if (!scheduledSaved && this.errors) {
        setFormErrors(this, "form");
      }
    },
  },
};
</script>

<style>
</style>