<template>
  <div>
    <alert-component />
    <v-data-table
      :headers="headers"
      :items="schedules"
      :options.sync="options"
      :server-items-length="totalSchedules"
      :loading="loading"
      class="elevation-1"
    >
      <!---HEADER -->
      <template v-slot:top>
        <v-toolbar flat>
          <v-toolbar-title>Schedules</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>

          <v-btn
            color="primary"
            dark
            class="mb-2"
            @click="$router.push({ name: 'createSchedule' })"
          >
            New
          </v-btn>
        </v-toolbar>
      </template>
      <!---HEADER -->

      <!-- IS ACTIVE SLOT -->
      <template v-slot:item.is_active="{ item }">
        <v-chip :color="item.is_active === 1 ? 'green' : 'red'" dark>
          {{ item.is_active === 1 ? "Activated" : "Deactivated" }}
        </v-chip>
      </template>
      <!-- IS ACTIVE SLOT -->

      <!-- ACTIONS SLOT -->
      <template v-slot:item.actions="{ item }">
        <v-icon
          small
          color="green"
          class="mr-2"
          @click="
            $router.push({ name: 'editSchedule', params: { id: item.id } })
          "
          >mdi-pencil</v-icon
        >
        <v-icon
          small
          class="mr-2"
          :color="item.is_active === 1 ? 'orange':'green'"
          @click="openChangeStatusConfirmation(item)"
        >
          {{ item.is_active === 1 ? "mdi-lock" : "mdi-lock-open-variant" }}
        </v-icon>
        <v-icon small color="red" @click="openDeleteConfirmation(item)"
          >mdi-delete</v-icon
        >   
      </template>
      <!-- ACTIONS SLOT -->
    </v-data-table>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import AlertComponent from "../../components/AlertComponent";

export default {
  components: {
    AlertComponent,
  },
  computed: {
    ...mapState({
      schedules: (state) => state.schedules.list,
      totalSchedules: (state) => state.schedules.total,
    }),
  },
  data: () => ({
    loading: false,
    changeStatusSubscription: null,
    deleteSubscription: null,
    options: {
      page: 1,
      itemsPerPage: 5,
      sortBy: [],
      sortDesc: [],
    },
    headers: [
      { text: "Id", sortable: true, value: "id" },
      { text: "Hour", value: "hour", sortable: true },
      { text: "Status", value: "is_active", sortable: true },
      { text: "Actions", value: "actions", sortable: false },
    ],
  }),
  watch: {
    options: {
      handler() {
        this.getSchedules();
      },
      deep: true,
    },
  },
  mounted() {
    this.onChangeStatusConfirmed();
    this.onDeleteConfirmed();
  },
  beforeDestroy() {
    this.deleteSubscription();
    this.changeStatusSubscription();
  },
  methods: {
    ...mapActions({
      deleteSchedule: "schedules/delete",
      updateScheduleStatus: "schedules/changeActiveStatus",
    }),
    async getSchedules() {
      this.loading = true;
      await this.$store.dispatch("schedules/getPaginated", this.options);
      this.loading = false;
    },
    openDeleteConfirmation(item) {
      this.$store.dispatch("app/openConfirmation", {
        title: "Schedules",
        action: "delete_schedule",
        caption: "Are you sure to delete this schedule?",
        item,
      });
    },
    openChangeStatusConfirmation(item) {
      this.$store.dispatch("app/openConfirmation", {
        title: "Schedules",
        action: "change_schedule_status",
        caption: "Are you sure to change the status of this schedule?",
        item,
      });
    },
    onChangeStatusConfirmed() {
      this.changeStatusSubscription = this.$store.subscribe(
        (mutation, state) => {
          const confirmation = state.app.confirmationModal;

          if (
            confirmation.accepted &&
            confirmation.action === "change_schedule_status" &&
            mutation.type === "app/CONFIRMATION_ACCEPTANCE"
          ) {
            this.updateScheduleStatus({
              scheduleId: confirmation.item.id,
              is_active: confirmation.item.is_active ? 0 : 1,
            });
          }
        }
      );
    },
    onDeleteConfirmed() {
      this.deleteSubscription = this.$store.subscribe((mutation, state) => {
        const confirmation = state.app.confirmationModal;

        if (
          confirmation.accepted &&
          confirmation.action === "delete_schedule" &&
          mutation.type === "app/CONFIRMATION_ACCEPTANCE"
        ) {
          this.deleteSchedule(confirmation.item.id);
        }
      });
    },
  },
};
</script>
