<template>
  <div>
    <v-dialog v-model="dialog.opened" persistent max-width="600px">
      <v-card>
        <alert-component />
        <v-card-title>
          <span class="headline">{{
            dialog.mode === "create" ? "Register a schedule" : "Edit a schedule"
          }}</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <validation-observer ref="form" v-slot="{ invalid, handleSubmit }">
              <form @submit.prevent="handleSubmit(onSubmit)">
                <!-- CINEMA --->
                <validation-provider
                  v-slot="{ errors }"
                  vid="cinema"
                  name="cinema"
                  rules="required"
                >
                  <v-text-field
                    v-model="cinema"
                    label="Cinema"
                    :error-messages="errors"
                  ></v-text-field>
                </validation-provider>
                <!-- CINEMA --->

                <!-- HOUR -->
                <validation-provider
                  v-slot="{ errors }"
                  vid="schedule_id"
                  name="hour"
                  rules="required"
                >
                  <v-select
                    v-model="scheduleId"
                    :items="schedules"
                    item-text="hour"
                    item-value="id"
                    label="Select an hour"
                    single-line
                    :error-messages="errors"
                  ></v-select>
                </validation-provider>
                <!-- HOUR -->
              </form>
            </validation-observer>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="onSubmit"> Save </v-btn>
          <v-btn color="red darken-1" text @click="close"> Cancel </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
import { setFormErrors } from "../../../utils/form";
import AlertComponent from "../../../components/AlertComponent";
export default {
  components: {
    AlertComponent,
  },
  computed: {
    ...mapState({
      dialog: (state) => state.movieSchedules.dialog,
      schedules: (state) => state.movieSchedules.schedules,
      errors: (state) => state.app.validationErrors,
    }),
  },
  data: () => ({
    cinema: "",
    scheduleId: "",
    unsubscribeOnOpen: null,
  }),
  mounted() {
    this.fillScheduleOnOpen();
  },
  deactivated() {
    console.log("OWA");
    this.cinema = "";
    this.scheduleId = "";
    this.unsubscribeOnOpen();
  },
  methods: {
    ...mapActions({
      close: "movieSchedules/closeDialog",
    }),
    fillScheduleOnOpen() {
      this.unsubscribeOnOpen = this.$store.subscribe((mutation, state) => {
        const dialogOpened = mutation.type === "movieSchedules/SET_DIALOG";
        const isEditMode = state.movieSchedules.dialog.mode === "edit";
        if (dialogOpened && isEditMode) {
          this.cinema = state.movieSchedules.dialog.cinema;
          this.scheduleId = state.movieSchedules.dialog.scheduleId;
        }
      });
    },
    async onSubmit() {
      const scheduleWasStored = await this.$store.dispatch(
        "movieSchedules/save",
        {
          cinema: this.cinema,
          schedule_id: this.scheduleId,
        }
      );

      if (scheduleWasStored) {
        this.$store.dispatch("movieSchedules/closeDialog");
      }

      if (this.errors) {
        setFormErrors(this, "form");
      }
    },
  },
};
</script>