<template>
  <v-sheet rounded="lg">
    <v-list-item-group color="primary">
      <v-list-item
        :key="menuItem.name"
        v-for="menuItem in menuItems"
        @click="onOpenSection(menuItem.route)"
        :disabled="menuItem.route === null"
      >
        <v-list-item-icon>
          <v-icon v-text="menuItem.icon"></v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>
            {{ menuItem.name }}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-divider class="my-2"></v-divider>
      <!-- LOGOUT -->
      <v-list-item
        link
        color="grey lighten-4"
        @click="openLogoutConfirmation()"
      >
        <v-list-item-icon>
          <v-icon>mdi-logout</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>Logout</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <!-- LOGOUT -->
    </v-list-item-group>
  </v-sheet>
</template>

<script>
import { mapActions } from "vuex";
export default {
  data: () => ({
    menuItems: [
      {
        name: "Dashboard",
        icon: "mdi-chart-arc",
        route: "dashboard",
      },
      {
        name: "Movies",
        icon: "mdi-movie",
        route: "movies",
      },
      {
        name: "Schedules",
        icon: "mdi-calendar-clock",
        route: "schedules",
      },
      {
        name: "Administrators",
        icon: "mdi-account-tie",
        route: null,
      },
      {
        name: "My Profile",
        icon: "mdi-account-box",
        route: null,
      },
    ],
  }),
  mounted() {
    this.onLogoutConfirmed();
  },
  beforeDestroy() {
    console.log("Destroyed sidebar");
  },
  methods: {
    ...mapActions({
      logout: "auth/logout",
    }),
    openLogoutConfirmation() {
      this.$store.dispatch("app/openConfirmation", {
        title: "Auhtentication",
        action: "logout",
        caption: "Do you really want to sign out?",
        item: {},
      });
    },
    onLogoutConfirmed() {
      this.$store.subscribe(async (mutation, state) => {
        const confirmation = state.app.confirmationModal;
        if (
          confirmation.accepted &&
          confirmation.action === "logout" &&
          mutation.type === "app/CONFIRMATION_ACCEPTANCE"
        ) {
          const logoutDone = await this.logout();
          if (logoutDone) {
            this.$router.push({ name: "login" });
          }
        }
      });
    },
    onOpenSection(route) {
      this.$router.push({ name: route });
    },
  },
};
</script>