<template>
  <v-container pa-5>
    <v-toolbar flat>
      <v-toolbar-title>{{ title }}</v-toolbar-title>
    </v-toolbar>

    <alert-component />

    <validation-observer ref="form" v-slot="{ invalid, handleSubmit }">
      <form @submit.prevent="handleSubmit(onSubmit)">
        <!-- NAME -->
        <validation-provider
          v-slot="{ errors }"
          vid="name"
          name="name"
          rules="required"
        >
          <v-text-field v-model="name" label="Name" :error-messages="errors" />
        </validation-provider>
        <!-- NAME -->

        <!-- PUBLISH DATE -->

        <v-menu
          ref="menu"
          v-model="menu"
          :close-on-content-click="false"
          transition="scale-transition"
          offset-y
          min-width="auto"
        >
          <template v-slot:activator="{ on, attrs }">
            <validation-provider
              v-slot="{ errors }"
              vid="publish_date"
              name="publish_date"
              rules="required"
            >
              <v-text-field
                v-model="publish_date"
                label="Publish date"
                prepend-icon="mdi-calendar"
                readonly
                v-bind="attrs"
                v-on="on"
                :error-messages="errors"
              ></v-text-field>
            </validation-provider>
          </template>
          <v-date-picker
            ref="picker"
            v-model="publish_date"
            :max="new Date().toISOString().substr(0, 10)"
            min="1950-01-01"
            @change="updateDate"
            :error-messages="errors"
          ></v-date-picker>
        </v-menu>
        <!-- PUBLISH DATE -->

        <!--POSTER -->
        <validation-provider
          v-slot="{ errors }"
          vid="poster"
          name="poster"
          :rules="editMode ? '' : 'required'"
        >
          <div v-if="editMode && storedPoster !== null">
            <p>Current Poster</p>
            <v-img
              contain
              max-height="100"
              max-width="250"
              :src="storedPoster"
              class="mb-5 elevated-4"
            />
          </div>

          <v-file-input
            v-model="poster"
            color="deep-purple accent-4"
            label="Poster"
            placeholder="Select your poster image"
            prepend-icon="mdi-paperclip"
            :error-messages="errors"
            outlined
          >
          </v-file-input>
        </validation-provider>
        <!--POSTER -->

        <!-- IS ACTIVE -->
        <v-container class="px-0" fluid v-if="editMode">
          <v-switch v-model="is_active" :label="`Is active?`"></v-switch>
        </v-container>
        <!--IS ACTIVE -->

        <v-btn class="mr-4" type="submit">Send</v-btn>
      </form>
    </validation-observer>
  </v-container>
</template>

<script>
import moment from "moment";
import AlertComponent from "../../components/AlertComponent";
import { setFormErrors } from "../../utils/form";
import { mapState } from "vuex";
export default {
  components: {
    AlertComponent,
  },
  computed: {
    ...mapState({
      errors: (state) => state.app.validationErrors,
    }),
  },
  data: () => ({
    title: "Register a movie",
    editMode: false,
    menu: false,
    name: "",
    poster: null,
    publish_date: "",
    is_active: false,
    storedPoster: null,
  }),
  watch: {
    menu(val) {
      val && setTimeout(() => (this.$refs.picker.activePicker = "YEAR"));
    },
  },
  beforeMount() {
    this.loadMovie();
  },
  methods: {
    async loadMovie() {
      const editId = this.$router.currentRoute.params.id;
      if (editId) {
        this.editMode = true;
        this.title = "Edit the movie";

        const movie = await this.$store.dispatch("movies/getById", editId);
        if (movie) {
          this.name = movie.name;
          this.publish_date = moment(movie.publish_date).format("YYYY-MM-DD");
          this.is_active = movie.is_active;
          this.storedPoster = movie.poster;
        }
      }
    },
    async onSubmit() {
      let fields = {};
      if (this.poster !== null) {
        fields["poster"] = this.poster;
      }

      if (this.editMode) {
        fields["is_active"] = this.is_active ? 1 : 0;
      }

      const savedDone = await this.$store.dispatch("movies/save", {
        movieId: this.$router.currentRoute.params.id,
        data: {
          name: this.name,
          publish_date: this.publish_date,
          ...fields,
        },
      });

      if (!savedDone && this.errors) {
        setFormErrors(this, "form");
      }
    },
    updateDate(date) {
      this.$refs.menu.save(date);
    },
  },
};
</script>

<style>
</style>