<template>
  <div>
    <alert-component />
    <v-data-table
      :headers="headers"
      :items="movies"
      :options.sync="options"
      :server-items-length="totalMovies"
      :loading="loading"
      class="elevation-1"
    >
      <!---HEADER -->
      <template v-slot:top>
        <v-toolbar flat>
          <v-toolbar-title>Movies</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>

          <v-btn
            color="primary"
            dark
            class="mb-2"
            @click="$router.push({ name: 'createMovie' })"
          >
            New
          </v-btn>
        </v-toolbar>
      </template>
      <!---HEADER -->
      <!-- POSTER IMAGE SLOT -->
      <template v-slot:item.poster="{ item }">
        <v-avatar class="my-2" size="40px" tile>
          <img :src="item.poster" :alt="item.name" contain />
        </v-avatar>
      </template>
      <!-- POSTER IMAGE SLOT -->

      <!-- IS ACTIVE SLOT -->
      <template v-slot:item.is_active="{ item }">
        <v-chip :color="item.is_active === 1 ? 'green' : 'red'" dark>
          {{ item.is_active === 1 ? "Activated" : "Deactivated" }}
        </v-chip>
      </template>
      <!-- IS ACTIVE SLOT -->

      <!-- ACTIONS SLOT -->
      <template v-slot:item.actions="{ item }">
        <v-icon
          small
          color="green"
          class="mr-2"
          @click="$router.push({ name: 'editMovie', params: { id: item.id } })"
          >mdi-pencil</v-icon
        >
        <v-icon
          small
          class="mr-2"
          :color="item.is_active === 1 ? 'red' : 'green'"
          @click="openChangeStatusConfirmation(item)"
        >
          {{ item.is_active === 1 ? "mdi-lock" : "mdi-lock-open-variant" }}
        </v-icon>
        <v-icon small color="blue" class="mr-2" @click="onViewSchedule(item)">
          mdi-calendar-clock
        </v-icon>
        <v-icon small color="red" @click="openDeleteConfirmation(item)"
          >mdi-delete</v-icon
        >
      </template>
      <!-- ACTIONS SLOT -->
    </v-data-table>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import AlertComponent from "../../components/AlertComponent";

export default {
  components: {
    AlertComponent,
  },
  computed: {
    ...mapState({
      movies: (state) => state.movies.list,
      totalMovies: (state) => state.movies.total,
    }),
  },
  data: () => ({
    loading: false,
    changeStatusSubscription: null,
    deleteSubscription: null,
    options: {
      page: 1,
      itemsPerPage: 5,
      sortBy: [],
      sortDesc: [],
    },
    headers: [
      { text: "Id", sortable: true, value: "id" },
      { text: "Poster", value: "poster", sortable: false },
      { text: "Name", value: "name", sortable: true },
      { text: "Publish Date", value: "publish_date", sortable: true },
      { text: "Status", value: "is_active", sortable: true },
      { text: "Actions", value: "actions", sortable: false },
    ],
  }),
  watch: {
    options: {
      handler() {
        this.getMovies();
      },
      deep: true,
    },
  },
  mounted() {
    this.onChangeStatusConfirmed();
    this.onDeleteConfirmed();
  },
  beforeDestroy() {
    this.deleteSubscription();
    this.changeStatusSubscription();
  },
  methods: {
    ...mapActions({
      deleteMovie: "movies/delete",
      updateMovieStatus: "movies/changeActiveStatus",
    }),
    async getMovies() {
      this.loading = true;
      await this.$store.dispatch("movies/getPaginated", this.options);
      this.loading = false;
    },
    openDeleteConfirmation(item) {
      this.$store.dispatch("app/openConfirmation", {
        title: "Movies",
        action: "delete_movie",
        caption: "Are you sure to delete this movie?",
        item,
      });
    },
    openChangeStatusConfirmation(item) {
      this.$store.dispatch("app/openConfirmation", {
        title: "Movies",
        action: "change_movie_status",
        caption: "Are you sure to change the status of this movie?",
        item,
      });
    },
    onChangeStatusConfirmed() {
      this.changeStatusSubscription = this.$store.subscribe(
        (mutation, state) => {
          const confirmation = state.app.confirmationModal;

          if (
            confirmation.accepted &&
            confirmation.action === "change_movie_status" &&
            mutation.type === "app/CONFIRMATION_ACCEPTANCE"
          ) {
            this.updateMovieStatus({
              movieId: confirmation.item.id,
              is_active: confirmation.item.is_active ? 0 : 1,
            });
          }
        }
      );
    },
    onDeleteConfirmed() {
      this.deleteSubscription = this.$store.subscribe((mutation, state) => {
        const confirmation = state.app.confirmationModal;

        if (
          confirmation.accepted &&
          confirmation.action === "delete_movie" &&
          mutation.type === "app/CONFIRMATION_ACCEPTANCE"
        ) {
          this.deleteMovie(confirmation.item.id);
        }
      });
    },
    async onViewSchedule(movie) {
      this.$router.push({ name: "movieSchedules", params: { id: movie.id } });
    },
  },
};
</script>
