<template>
  <v-container>
    <div class="d-flex">
      <card-counter-component
        title="# Visitors"
        icon="mdi-account"
        counter="500"
        icon-color="blue darken-2"
      />
      <card-counter-component
        title="Tickets"
        icon="mdi-currency-usd"
        counter="30,000 USD"
        icon-color="green darken-1"
      />
      <card-counter-component
        title="Candies"
        icon="mdi-candycane"
        counter="70,000 USD"
        icon-color="orange darken-1"
      />
    </div>

    <apexchart
      width="90%"
      type="bar"
      :options="options"
      :series="series"
      class="mt-6"
    ></apexchart>
  </v-container>
</template>

<script>
import CardCounterComponent from "../components/CardCounterComponent";
export default {
  components: {
    CardCounterComponent,
  },
  data: () => ({
    options: {
      chart: {
        id: "vuechart-example",
      },
      title: {
        text: "Number of movies viewed per cinema",
      },
      xaxis: {
        categories: [
          "Cinema 1",
          "Cinema 2",
          "Cinema 3",
          "Cinema 4",
          "Cinema 5",
          "Cinema 6",
        ],
      },
    },
    series: [
      {
        name: "series-1",
        data: [30, 40, 45, 50, 49, 60],
      },
    ],
  }),
};
</script>

<style>
</style>