<template>
  <v-card class="pa-6">
    <alert-component />
    <validation-observer ref="form" v-slot="{ invalid, handleSubmit }">
      <form @submit.prevent="handleSubmit(onSubmit)">
        <validation-provider
          v-slot="{ errors }"
          vid="email"
          name="email"
          rules="required|email"
        >
          <v-text-field
            v-model="email"
            :counter="10"
            :error-messages="errors"
            label="Email"
          ></v-text-field>
        </validation-provider>

        <validation-provider
          v-slot="{ errors }"
          vid="password"
          name="password"
          rules="required"
        >
          <v-text-field
            v-model="password"
            type="password"
            :error-messages="errors"
            label="Password"
            required
          ></v-text-field>
        </validation-provider>

        <v-btn class="mr-4" type="submit" :disabled="invalid"> Sign in </v-btn>
      </form>
    </validation-observer>
  </v-card>
</template>

<script>
import { mapState } from "vuex";
import { setFormErrors } from "../utils/form";
import AlertComponent from "../components/AlertComponent.vue";
export default {
  components: { AlertComponent },
  computed: {
    ...mapState({
      errors: (state) => state.app.validationErrors,
    }),
  },
  data: () => ({
    email: "",
    password: "",
  }),

  methods: {
    async onSubmit() {
      try {
        const loginWasSucceded = await this.$store.dispatch("auth/login", {
          email: this.email,
          password: this.password,
        });

        if (!loginWasSucceded) {
          setFormErrors(this, "form");
          return;
        }
        this.$router.push({ name: "dashboard" });
      } catch (err) {
        console.log("Error", err);
      }
    },
  },
};
</script>