<template>
  <v-alert
    dense
    dismissible
    elevation="3"
    :type="alert.type"
    :value="alert.display"
    transition="scale-transition"
    @input="onClose"
  >
    {{ alert.caption }}
   
  </v-alert>
</template>

<script>
import { mapActions, mapState } from "vuex";
export default {
  computed: {
    ...mapState({
      alert: (state) => state.app.alertMessage,
    }),
  },
  methods: {
    ...mapActions({
      onClose: "app/hideAlert",
    }),
  },
};
</script>
