<template>
  <v-card class="dashboard-card-counter">
    <v-container class="d-flex items-center">
      <div class="flex-grow-1">
        <div class="grey--text text-body-1">
          {{ title }}
        </div>
        <div class="text-h5 grey--text font-weight-bold mt-2">
          {{ counter }}
        </div>
      </div>
      <!-- COUNTER LABEL -->

      <!-- COUNTER ICON -->
      <v-icon
        v-if="icon !== ''"
        :color="iconColor"
        size="48px"
        class="flex-shrink-1"
      >
        {{ icon }} 
      </v-icon>

      <!-- COUNTER ICON -->
    </v-container>
  </v-card>
</template>

<style lang="scss">
.dashboard-card-counter {
  width: 250px;
  max-width: 100%;
  margin: 0.5rem;
}
</style>

<script>
export default {
  props: {
    title: "",
    counter: 0,
    icon: "",
    iconColor: "",
  },
};
</script>