
<template>
  <v-dialog v-model="dialog.opened" persistent max-width="290">
    <v-card>
      <v-card-title class="headline">{{dialog.title}}</v-card-title>
      <v-card-text>{{dialog.caption}}</v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="green darken-1" text @click="close({accepted:true})">OK</v-btn>
        <v-btn color="red darken-1" text @click="close({accepted: false})">Cancel</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapState, mapActions } from "vuex";
export default {
  computed: {
    ...mapState({
      dialog: state => state.app.confirmationModal
    })
  },
  methods: {
    ...mapActions({
      close: "app/closeConfirmation"
    })
  }
};
</script>

