<template>
  <div>
    <alert-component />
    <movie-schedules-create-modal />

    <!-- MOVIE HEADER CARD -->
    <v-card>
      <div class="d-flex flex-no-wrap justify-space-between align-center">
        <div>
          <v-card-title class="headline">{{ movie.name }}</v-card-title>
          <v-card-subtitle>{{ movie.publish_date }}</v-card-subtitle>
        </div>

        <v-avatar class="ma-3" size="125" tile>
          <v-img :src="movie.poster"></v-img>
        </v-avatar>
      </div>
    </v-card>
    <!-- MOVIE HEADER CARD -->

    <v-data-table
      :headers="headers"
      :items="movieSchedules"
      :options.sync="options"
      :server-items-length="totalMovieSchedules"
      :loading="loading"
      hide-default-footer
      class="elevation-1 mt-6"
    >
      <!---HEADER -->
      <template v-slot:top>
        <v-toolbar flat>
          <v-toolbar-title>Movie Schedules</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-btn color="primary" dark class="mb-2" @click="onCreate">
            New
          </v-btn>
        </v-toolbar>
      </template>
      <!---HEADER -->

      <!-- IS ACTIVE SLOT -->
      <template v-slot:item.is_active="{ item }">
        <v-chip :color="item.is_active === 1 ? 'green' : 'red'" dark>
          {{ item.is_active === 1 ? "Activated" : "Deactivated" }}
        </v-chip>
      </template>
      <!-- IS ACTIVE SLOT -->

      <!-- ACTIONS SLOT -->
      <template v-slot:item.actions="{ item }">
        <v-icon
          small
          color="green"
          class="mr-2"
          @click="onEdit(item)"
          >mdi-pencil</v-icon
        >
        <v-icon small color="red" @click="openDeleteConfirmation(item)"
          >mdi-delete</v-icon
        >
      </template>
      <!-- ACTIONS SLOT -->
    </v-data-table>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import AlertComponent from "../../components/AlertComponent";
import MovieSchedulesCreateModal from "./components/MovieSchedulesCreateModal.vue";

export default {
  components: {
    AlertComponent,
    MovieSchedulesCreateModal,
  },
  computed: {
    ...mapState({
      movie: (state) => state.movieSchedules.movie,
      movieSchedules: (state) => state.movieSchedules.list,
      totalMovieSchedules: (state) => state.movieSchedules.total,
    }),
  },
  data: () => ({
    loading: false,
    deleteSubscription: null,
    options: {
      itemsPerPage: -1,
      sortBy: [],
      sortDesc: [],
    },
    headers: [
      { text: "Id", sortable: true, value: "id" },
      { text: "Cinema", value: "cinema", sortable: true },
      { text: "Hour", value: "hour", sortable: false },
      { text: "Actions", value: "actions", sortable: false },
    ],
  }),
  watch: {
    options: {
      handler() {
        this.getMovieSchedules();
      },
      deep: true,
    },
  },
  mounted() {
    this.onDeleteConfirmed();
  },
  beforeDestroy() {
    this.deleteSubscription();
  },
  methods: {
    ...mapActions({
      deleteMovieSchedule: "movieSchedules/delete",
    }),
    async getMovieSchedules() {
      this.loading = true;
      await this.$store.dispatch("movieSchedules/getPaginated", {
        ...this.options,
        movieId: this.$router.currentRoute.params.id,
      });
      this.loading = false;
    },
    onCreate() {
      this.$store.dispatch("movieSchedules/openDialog", {
        mode: "create",
        movieScheduleId: "",
        cinema: "",
        scheduleId: "",
      });
    },
     onEdit(movieSchedule) {
      this.$store.dispatch("movieSchedules/openDialog", {
        mode: "edit",
        movieScheduleId: movieSchedule.id,
        cinema: movieSchedule.cinema,
        scheduleId: movieSchedule.schedule_id,
      });
    },
    openDeleteConfirmation(item) {
      this.$store.dispatch("app/openConfirmation", {
        title: "Movie Schedules",
        action: "delete_movie_schedule",
        caption: "Are you sure to delete this movie schedule?",
        item,
      });
    },
    onDeleteConfirmed() {
      this.deleteSubscription = this.$store.subscribe((mutation, state) => {
        const confirmation = state.app.confirmationModal;

        if (
          confirmation.accepted &&
          confirmation.action === "delete_movie_schedule" &&
          mutation.type === "app/CONFIRMATION_ACCEPTANCE"
        ) {
          this.deleteMovieSchedule(confirmation.item.id);
        }
      });
    },
  },
};
</script>
