<template>
  <v-app id="inspire">
    <confirmation-dialog-component />
    <!-- TOOLBAR -->
    <v-app-bar app color="white" flat>
      <v-container class="py-0 fill-height">
        <v-spacer v-if="auth.name === ''"></v-spacer>
        <v-img src="/img/logo.png" contain max-height="50" />
        <v-spacer></v-spacer>

        <v-responsive
          max-width="260"
          v-if="auth.name !== ''"
          class="d-flex flex-nowrap"
        >
          <v-icon color="blue" size="32px">mdi-account</v-icon>
          <div class="d-inline-flex grey--text darken-4 ml-3">
            {{ auth.name }}
          </div>
        </v-responsive>
      </v-container>
    </v-app-bar>
    <!-- TOOLBAR -->

    <v-main class="grey lighten-3">
      <v-container>
        <v-row>
          <v-col cols="2" v-if="auth.name !== ''">
            <sidebar />
          </v-col>

          <v-col>
            <v-sheet min-height="70vh" rounded="lg" class="pa-6">
              <!--  -->
              <router-view></router-view>
            </v-sheet>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import Sidebar from "./partials/Sidebar.vue";
import ConfirmationDialogComponent from "../components/ConfirmationDialogComponent.vue";

import { mapState } from "vuex";
export default {
  components: { ConfirmationDialogComponent, Sidebar },
  computed: {
    ...mapState({
      auth: (state) => state.auth.user,
    }),
  },
};
</script>